---
import Base from '@/layouts/Base.astro';
import Navbar from '@/components/Navbar.astro';
import Hero from '@/components/Hero.astro';
import About from '@/components/About.astro';
import Projects from '@/components/Projects.astro';
import Skills from '@/components/Skills.astro';
import Contact from '@/components/Contact.astro';
---

<Base>
  <Navbar />
  <Hero />
  <div class="divider"></div>
  <About />
  <div class="divider"></div>
  <Projects />
  <div class="divider"></div>
  <Skills />
  <div class="divider"></div>
  <Contact />
</Base>
