---
import Base from '@/layouts/Base.astro';
import Navbar from '@/components/Navbar.astro';
import Hero from '@/components/Hero.astro';
import About from '@/components/About.astro';
import Projects from '@/components/Projects.astro';
import Skills from '@/components/Skills.astro';
---

<Base>
  <Navbar />
  <Hero />
  <div class="divider"></div>
  <About />
  <div class="divider"></div>
  <Projects />
  <div class="divider"></div>
  <Skills />
  <section id="contato" style="min-height: 50vh; padding: 2rem; color: white;">Contato</section>
</Base>
